.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    padding-top: 40px;
}

.highlight {
    color: var(--color-primary);
}

.grid {
    padding-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 1200px;
    justify-content: center;
    height: 600px;
}

.grid * {
    align-items: center;
    justify-items: center;
}

.image {
    display: flex;
    justify-content: center;
}


.image img {
    height: 500px;
    border-radius: 15px;
    transition: all 0.3s ease;

}

.image img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px var(--box-shadow-color);
}


.info {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

.info h3 {
    font-size: 24px;
}

.info p {
    font-size: 20px;
    line-height: 1.5;
}