.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    transform: scale(0.8);

}

.highlight {
    color: var(--color-primary);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info h1 {
    font-size: 32px;
}

.contact {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 12px;
}

.contact {
    font-size: 28px;
}

.icon {
    display: flex;
    background-color: var(--color-primary);
    height: 48px;
    width: 48px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1280px) {
    .mainContainer {
        width: 95vw;
    }

}