.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    padding-top: 40px;
}

.highlight {
    color: var(--color-primary);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-content: center;
    width: 1200px;
    padding-top: 24px;
    transition: all 0.3s ease;

}