.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    gap: 40px;
    transform: scale(0.8);

}

.mainContainer>h1 {
    text-align: center;

}

.highlight {
    color: var(--color-primary);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-content: center;
    width: 1200px;
    transition: all 0.3s ease;

}

@media (max-width: 1280px) {

    .grid {
        width: 800px;
        grid-template-columns: repeat(2, 1fr);

    }

}

@media (max-width: 1024px) {

    .grid {
        all: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        align-items: center;
        width: 90vw;
    }

}