.container {
    min-height: calc(100vh);
    /* min-height:100vh; */
    justify-items: center;
    align-items: center;
    align-content: center;
    transform: scale(0.8);
}

h1 {
    font-size: 72px;
}

.highlight {
    color: var(--color-primary);
}

.container>p {
    font-size: 30px;
    text-align: center;
    width: 1200px;
}


@media (max-width: 1280px) {

    .container {
        text-align: center;
        padding-left: 12px;
        width: 90vw;
    }

    .container>p {
        width: fit-content;
    }
}