.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--background-color);
    font-size: 20px;
    z-index: 999;
}

.name {
    display: flex;
    gap: 8px;
    font-weight: 700;
    font-size: 24px;
    justify-self: flex-start;
}

.name>:first-child {
    text-shadow: 0 0 10px #093f7599
}

.name>:last-child {
    color: var(--color-primary);
}

.linkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links {
    display: flex;
    gap: 50px;
}

.darkModeToggle {
    all: unset;
    cursor: pointer;
    
}

.sideBar {
    display: none;
}

.sideBarOpen {
    display: none;
}

@media (max-width: 1024px) {
    .container {
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        padding: unset;
    }



    .linkContainer {
        display: none;
    }

    .sideBar {
        display: block;
        height: 60px;
        width: 60px;
        background-color: black;
        transform: translateX(-100%);

    }

    .links {
        flex-direction: column;
    }

    .sideBarOpen {
        position: fixed;
        top: 75px;
        left: 0;
        width: 100%;
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        padding: 24px;
        border-radius: 4px;

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.3s ease;
        z-index: 1000;
    }
    .darkModeToggle {
        padding-left: 0px;
    all: unset;
    cursor: pointer
    align-
}

    .sideBarOpen.active {
        opacity: 1;
        pointer-events: all;
    }

    .hamburger {
        position: relative;
        width: 35px;
        height: 24px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1001;
    }

    .hamburger span {
        display: block;
        height: 4px;
        width: 100%;
        background: var(--color-primary, black);
        border-radius: 2px;
        transition: all 0.3s ease-in-out;
    }

    .hamburger.active span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

}