.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    transform: scale(0.8);

}

.highlight {
    color: var(--color-primary);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 1200px;
    padding-top: 24px;
    transition: all 0.3s ease;
}

@media (max-width: 1280px) {


    .grid {
        width: 900px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr 1fr;
        padding: 24px;
    }
}

@media (max-width: 1024px) {
    .grid {
        width: 350px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        padding: 24px;
        align-items: stretch;
    }
}