@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Manrope", system-ui, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--background-color);
    color: var(--text-color);
    scroll-behavior: smooth;
}



section {
    transition: 0.6s ease, color 0.6s ease;
}

a {
    text-decoration: none;
    color: var(--link-color);
    cursor: pointer;
}

a:hover {
    color: var(--color-secondary);
}