.container {
    background-color: var(--color-container);
    height: 500px;
    width: 375px;
    border-radius: 15px;
    transition: all 0.3s ease;
    display: flex;
    gap: 12px;
    padding:12px;
    flex-direction: column;
    font-size: 18px;
}


.container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px var(--box-shadow-color);
}

.title{
    color: var(--color-primary);
    font-size: 28px;
    font-weight: bolder;
}

.company{
    font-size: 20px;
    font-weight: bold;
}

.skillsContainer{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.skillBadge{
    border: 2px solid var(--text-color);
    border-radius: 15px;
    padding:6px;
    min-width: 30px;

}

.description{
    line-height: 1.5em;
}