.container {
    background-color: var(--color-container);
    height: 80px;
    width: 300x;
    border-radius: 15px;
    transition: all 0.3s ease;
    display: flex;
    gap: 12px;
    padding: 12px;
    flex-direction: column;
    font-size: 18px;
    justify-content: space;
    font-weight: bold;
}


.container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px var(--box-shadow-color);
}

.data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:24px;
}

.image {
    width: 36px;
    height: 36px;
}